<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.em_projects.tweetings">

    <!-- Internet Access Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Screen Activity -->
        <activity
            android:name="com.em_projects.tweetings.view.main.MainScreenActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Login Activity -->
        <activity
            android:name=".view.main.signinup.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Sign Up Activity -->
        <activity
            android:name=".view.main.signinup.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Drawer Activity -->
        <activity
            android:name=".view.main.menu.DrawerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Studies Activities -->
        <activity
            android:name=".view.main.studies.StudiesContactMeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogTheme"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>